extends layout

block content
  h1 Regiseter
  form(action="/signup", method="post") 
    div(class="flex mb-4", data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for="email", class="block") Email
        input(type="email", id="email", name="email")
    
    div(class="flex mb-4" data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for="password", class="block") pasword
        input(type="password", id="password", name="password")

    div(data-role='fieldcontain')
      input(type="submit",value='Sign Up',data-transition='fade', data-theme='c')
